.jumbotron{
    background-color:#0877AF;
    color: white;
    margin-top: 30px;
    align-content: center;
}
footer{
    padding: 15px 15px 0 15px;
    background-color: black;
    margin-bottom: 0px;
    margin-top: 10px;
    color: white;
}
.card-hotel{
    flex: 1 200px;
    
    margin-top: 10px;
}


.btn-reserva{
    width: 100%;
    border-radius: 0px;
    
}
.footer-addres-icon
{
    padding-right: 50px; 

}
.tab-content{
    
    padding-top: 10px;
}


